<div class="card deep-purple lighten-3">
  <div class="card-content white-text">
    <h5>Information about <%= @student.proper_name %></h5><br />

    <b>Age:&nbsp;&nbsp;</b>
      <%= @student.age %><br /><br />

    <b>Rating:&nbsp;&nbsp;</b>
      <%= @student.rating %><br /><br />

    <b>Active?&nbsp;&nbsp;</b>
      <%= @student.active ? "Yes" : "No" %><br><br><br>
  </div>
</div>
