<%# render partial: "partials/index_structure", locals: {model_name: "camp", 
                                                         primary: "active_camps", 
                                                         secondary: "inactive_camps",
                                                         sidebar: nil} %>
<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s6"><a href="#test5">Active Camps</a></li>
      <li class="tab col s6"><a href="#test6">Inactive</a></li>
    </ul>
  </div>
    <div id="test5" class="col s12">
      <%= render 'active_camps'%>
    </div>
    <div id="test6" class="col s12">
      <%= render 'inactive_camps'%>
    </div>
    <% if can? :new, Camp %>
      <%= link_to(eval("new_camp_path"), :class=>"btn waves-effect waves-light deep-purple lighten-2") do %>
      <!-- <i class="fa fa-plus"></i> -->
      &nbsp;Add a New <%= Camp %>
      <% end %>
    <% end %>
  </div>
      


