<div id="chart2" style="width: auto; height: 600px;"></div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<%= javascript_tag do -%>
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = JSON.parse('<%= @cregs.to_json.html_safe -%>');
    data = [['Curriculum', 'Amount']].concat(data);
    data = google.visualization.arrayToDataTable(data);
    var options = {
      chart: {
        title: 'Sales by Month',
      }
    };

    var chart = new google.charts.Pie(document.getElementById('chart'));
    chart.draw(data, google.charts.Pie.convertOptions(options));
  }
<% end -%>