<div id="tabbed">
  <tabs>
    <tab name="Recommended Upcoming Camps">
      <%= render :partial => "p_camps_list", locals: {camps: @upcoming_camps, state: 'inactive'} %>
    </tab>
  </tabs>
</div>

<p>&nbsp;</p>
