<div class="row">
  <div class="col s12">
    <ul class="tabs">
      <li class="tab col s3"><a href="#test1">Students</a></li>
      <li class="tab col s3"><a href="#test2">Inactive Students</a></li>
      <li class="tab col s3"><a href="#test3">Registered Camps</a></li>
      <li class="tab col s3"><a href="#test4">Recommended Camps</a></li>
    </ul>
  </div>
    <div id="test1" class="col s12">
      <%= render :partial => "students_list", locals: {students: @active_students, state: 'active'} %>
    </div>
    <div id="test2" class="col s12">
      <%= render :partial => "students_list", locals: {students: @inactive_students, state: 'inactive'} %>
    </div>
    <div id="test3" class="col s12">
      <%= render :partial => "registrations_list", locals: {regs: @reg_camps2, state: 'inactive'} %>
    </div>
    <div id="test4" class="col s12">
      <%= render :partial => "p_camps_list", locals: {camps: @upcoming_camps, state: 'inactive'} %>
    </div>
  </div>

