h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; color: #7e57c2; }
body {
  background-color: #cfd8dc;
}
#dropdown1{
  background-color: #e0e0e0;
}
html {
  // Preloaded with four fonts; uncomment the one you prefer
  font-family: 'Nunito', sans-serif;
  // font-family: 'Bitter', serif;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Varela Round', sans-serif;
}
a:link, a:visited {
  color: #ffab91;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  }
  
a:hover { text-decoration: underline; }
ul.tabs .tab{
  color: #9575cd;
  background-color: #cfd8dc;
}

.tabs .tab a.active {
  color: #9575cd;
}

.tabs .tab a:hover {
  color: #9575cd;
}

ul.tabs .tab a {
  color: black;
}

ul.tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #ff8a65;
  will-change: left, right;
}
#topbar {
  background-color: #7e57c2;
  padding-top: 5px;
  margin-bottom: 0px;
  color: #ffe0b2;
}

#nav {
  background-color: #7e57c2;
  height: 60px;
}

#nav ul a {
  color: #ffe0b2;
  font-size: 1.2rem;
}

/********** FLASH MSGS ********/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #008000;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #800000;
}

/********** FOOTER ********/
#page-footer{
  background-color: #7e57c2;
}
#footer {
  background-color: #7e57c2;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  color: #ef6c00;
  line-height: 2rem;
}

#footer a {
  color: #f57c00;
}
/********** FORMS ********/
.switch label input[type=checkbox]:checked + .lever {
  background-color: #2979ff;
}

.switch label input[type=checkbox]:checked + .lever::after {
  background-color: #303F9F;
}

/********** Table ********/

table.striped > tbody > tr:nth-child(odd) {
  background-color: #9575cd;
}

table.striped > tbody > tr:nth-child(even) {
  background-color: #b39ddb;
}

table.highlight > tbody > tr:hover {
  background-color: #673ab7;
}

td.align_right {
  text-align: right;
}

td.align_center {
  text-align: center;
}

th.align_right {
  text-align: right;
}

th.align_center {
  text-align: center;
}

/********** CARDS ********/
.card a {
  color: #e0f7fa;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #e0f7fa;
}

.card .remove {
  color: #b71c1c;
}

li.no_bullet {
  list-style-type: none;
}
.modal { width: 80% !important ; height: 60% !important }

/********** BUTTONS ********/
.btn-alert {
  background-color: #c62828;
  color: #fff;
}
.btn-alert:hover {
  background-color: #e53935;
  color: #fff;
}


/********** FLASH MSGS ********/
#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  color: #008000;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
  color: #800000;
}

.img_left {
  float: left;
  padding-right: 10px;
}

.img_right {
  float: right;
  padding-left: 10px;
}

.carousel {
  height: 250px;
}


/********** CARDS ********/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
  color: #ffab00;
}

.remove {
  color: #b71c1c;
}

li.no_bullet {
  list-style-type: none;
}

/********** FLASH MSGs ********/
.alert-box {
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  margin-bottom: 1.25rem;
  padding: 0.875rem 1.5rem 0.875rem 0.875rem;
  position: relative;
  transition: opacity 300ms ease-out;
  background-color: #008CBA;
  border-color: #0078a0;
  color: #FFFFFF; } 
  .alert-box .close {
    right: 0.25rem;
    background: inherit;
    color: #333333;
    font-size: 1.375rem;
    line-height: .9;
    margin-top: -0.6875rem;
    opacity: 0.3;
    padding: 0 6px 4px;
    position: absolute;
    top: 50%; }
    .alert-box .close:hover, .alert-box .close:focus {
      opacity: 0.5; }
  .alert-box.radius {
    border-radius: 3px; }
  .alert-box.round {
    border-radius: 1000px; }
  .alert-box.success {
    background-color: #e8f5e9;
    border-color: #a5d6a7;
    color: #1b5e20; }
  .alert-box.alert {
    background-color: #f04124;
    border-color: #de2d0f;
    color: #FFFFFF; }
  .alert-box.secondary {
    background-color: #e7e7e7;
    border-color: #c7c7c7;
    color: #4f4f4f; }
  .alert-box.warning {
    background-color: #fff3e0;
    border-color: #ffcc80;
    color: #ef6c00; }
  .alert-box.info {
    background-color: #a0d3e8;
    border-color: #74bfdd;
    color: #4f4f4f; }
  .alert-box.alert-close {
    opacity: 0; }