<% if @active_locations.empty? %>
  <h3>There are no active locations in the system at this time</h3>
<% else %>
  <%= render :partial => "locations_list", locals: {locations: @active_locations, state: "Active"} %>
<% end %>
<br>
<% unless @inactive_locations.empty? %>
  <%= render :partial => "locations_list", locals: {locations: @inactive_locations, state: "Inactive"} %>
<% end %>

<% if can? :new, Location %>
  <%= link_to(eval("new_location_path"), :class=>"btn waves-effect waves-light deep-purple lighten-2") do %>
  <!-- <i class="fa fa-plus"></i> -->
  &nbsp;Add a New <%= Location %>
  <% end %>
<% end %>